.idea
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
**/node_modules/**
_node_modules
.pnp.cjs

# Build output
dist

# Visual Studio Code configs
.vscode/

# JetBrains IDEs
.idea/

# as we use pnpm
package-lock.json
yarn.lock

# Docs build
stories
site
