repos:
  # Versioning: Commit messages & changelog
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.30.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Autoformat: YAML, JSON, Markdown, etc.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        entry: env PRETTIER_LEGACY_CLI=1 prettier
        args:
          [
            --ignore-unknown,
            --no-error-on-unmatched-pattern,
            "pnpm-lock.yaml",
          ]

  # Lint: Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args:
          [
            --fix,
            --ignore,
            CHANGELOG.md,
            --ignore,
            LICENSE.md,
            --ignore,
            docs/components,
          ]
