/* Dark mode colors. */
:root {
	--sl-color-accent-low: #470c0c;
	--sl-color-accent: #D63F40;
	--sl-color-accent-high: #D63F40;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ecedf2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #555862;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24262f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc6cd;
	--sl-color-accent: #D63F40;
	--sl-color-accent-high: #620023;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24262f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #555862;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #ecedf2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}