
/* HOT theme */

:root,
:host,
.hot-theme {

  --hot-divider-border-bottom: 2px;
  --hot-divider-border-bottom: 2px;
  --hot-height-small: 5rem;
  --hot-height-medium: 8rem;
  --hot-height-large: 20rem;

}

