/* First import WebAwesome base styles */
@import url('https://early.webawesome.com/webawesome@3.0.0-beta.1/dist/styles/webawesome.css');

/* Then import our HOT theme variables */
@import 'themes/hot.css';

/* Then our WebAwesome overrides */
@import 'themes/hot-wa.css';

